<div>
  <h2 id="sec-row-policy-heading">Row policy</h2>

  <form [formGroup]="editForm" (ngSubmit)="save()">
    <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
      <label>ID</label>
      <input type="text" class="form-control" formControlName="id" readonly />
    </div>

    <div class="mb-3">
      <label for="field_code">Code</label>
      <input id="field_code" type="text" class="form-control" formControlName="code" />
    </div>

    <div class="mb-3">
      <label for="field_entityName">Entity name</label>
      <input id="field_entityName" type="text" class="form-control" formControlName="entityName" />
    </div>

    <div class="mb-3">
      <label for="field_operation">Operation</label>
      <select id="field_operation" class="form-select" formControlName="operation">
        <option *ngFor="let op of operations" [value]="op">{{ op }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="field_policyType">Policy type</label>
      <select id="field_policyType" class="form-select" formControlName="policyType">
        <option *ngFor="let t of policyTypes" [value]="t">{{ t }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="field_expression">Expression</label>
      <textarea id="field_expression" rows="3" class="form-control" formControlName="expression"></textarea>
    </div>

    <div class="mt-3">
      <button type="button" class="btn btn-secondary" (click)="previousState()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid || isSaving">
        <span *ngIf="!isSaving">Save</span>
        <span *ngIf="isSaving">Saving...</span>
      </button>
    </div>
  </form>
</div>
