<div>
  <h2 id="sec-role-heading">Security roles</h2>

  <div class="d-flex justify-content-between mb-2">
    <button class="btn btn-primary" [routerLink]="['/sec-role/new']">
      <fa-icon icon="plus"></fa-icon>
      <span>Create role</span>
    </button>
  </div>

  <div class="table-responsive" *ngIf="secRoles().length > 0; else noData">
    <table class="table table-striped">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id">ID</th>
          <th scope="col" jhiSortBy="code">Code</th>
          <th scope="col" jhiSortBy="name">Name</th>
          <th scope="col" jhiSortBy="type">Type</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of secRoles(); trackBy: trackId">
          <td>{{ role.id }}</td>
          <td>{{ role.code }}</td>
          <td>{{ role.name }}</td>
          <td>{{ role.type }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button class="btn btn-sm btn-primary" [routerLink]="[role.id, 'edit']">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span>Edit</span>
              </button>
              <button class="btn btn-sm btn-danger" (click)="delete(role)">
                <fa-icon icon="trash"></fa-icon>
                <span>Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noData>
    <div class="alert alert-warning">No roles found</div>
  </ng-template>

  <div *ngIf="totalItems > 0" class="d-flex justify-content-between align-items-center">
    <jhi-item-count [params]="{ page, totalItems, itemsPerPage }"></jhi-item-count>
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="page"
      [pageSize]="itemsPerPage"
      (pageChange)="navigateToPage($event)"
    ></ngb-pagination>
  </div>
</div>
